@font-face {
	font-family: 'Brandon Grotesque Medium';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/brandon-grotesque-medium.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque Thin';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/brandon-grotesque-thin.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque Bold';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/brandon-grotesque-bold.woff') format('woff');
}

@import "./modules/normalise";
@import "./globals";
@import "./modules/general";
@import "./modules/header";
@import "./modules/hero";
@import "./modules/content";
@import "./modules/footer";