#intro {
	position: relative;

	.intro {
		&--content {
			display: grid;
			grid-template-columns: repeat(2, 50%);

			p {
				font-size: $intro-content--font-size;
			}
		}
		&--video {
			@extend %overlay;
			z-index: 0;
		}
	}
}