#returns {
	position: relative;
	overflow: hidden;

	.returns {
		&--content {
			position: relative;

			.copy {
				display: flex;
				flex-direction: column;
				text-align: center;

				.emphasise {
					font-size: $intro-content--font-size;
				}
			}
		}

		&--blob {
			left: 55%;
			z-index: 0;
		    height: 100%;
			@extend %vertical-center;
		}

	}
}