h1, h2, h3, h4, h5, h6 {
	font-family: 'Brandon Grotesque Medium';
	line-height: 1.4;
}

$h1-font--size: 40px;
$increments: 2px;

@for $i from 1 through 6 {
	$fs: ($h1-font--size + $increments) - ($i * $increments);
	h#{$i} {
		font-size: $fs;
	}
}